<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neo.discovery.mapper.WaveMapper">


    <insert id="insert"  parameterType="com.neo.discovery.vo.Wave">

        insert into wave(
        matchId,

        buy_s1,
        buy_p1,
        buy_f1,
        buy_s1_amount,
        buy_p1_amount,
        buy_f1_amount,

         buy_s2,
        buy_p2,
        buy_f2,
        buy_s2_amount,
        buy_p2_amount,
        buy_f2_amount,

         buy_s3,
        buy_p3,
        buy_f3,
        buy_s3_amount,
        buy_p3_amount,
        buy_f3_amount,

        sale_s1,
        sale_p1,
        sale_f1,
        sale_s1_amount,
        sale_p1_amount,
        sale_f1_amount,


        sale_s2,
        sale_p2,
        sale_f2,
        sale_s2_amount,
        sale_p2_amount,
        sale_f2_amount,

        sale_s3,
        sale_p3,
        sale_f3,
        sale_s3_amount,
        sale_p3_amount,
        sale_f3_amount,


        createTime,
        matchDate,
        home,
        away,
        leagueName,
        json ,


       buy_s_p,
       buy_s_f,
       buy_p_f,
       buy_s_p_amount,
       buy_s_f_amount,
       buy_p_f_amount,

       sale_s_p,
       sale_s_f,
       sale_p_f,
       sale_s_p_amount,
       sale_s_f_amount,
       sale_p_f_amount,
       dufa


        )
        values (


          #{ matchId},
        #{buy_s1},
         #{buy_p1},
         #{buy_f1},
          #{buy_s1_amount},
          #{buy_p1_amount},
         #{buy_f1_amount},


        #{buy_s2},
         #{buy_p2},
         #{buy_f2},
          #{buy_s2_amount},
          #{buy_p2_amount},
         #{buy_f2_amount},

        #{buy_s3},
         #{buy_p3},
         #{buy_f3},
          #{buy_s3_amount},
          #{buy_p3_amount},
         #{buy_f3_amount},


         #{sale_s1},
          #{sale_p1},
          #{sale_f1},
          #{sale_s1_amount},
          #{sale_p1_amount},
          #{sale_f1_amount},

         #{sale_s2},
          #{sale_p2},
          #{sale_f2},
          #{sale_s2_amount},
          #{sale_p2_amount},
          #{sale_f2_amount},

         #{sale_s3},
          #{sale_p3},
          #{sale_f3},
          #{sale_s3_amount},
          #{sale_p3_amount},
          #{sale_f3_amount},


         #{createTime},
        #{matchDate},
         #{home},
         #{away},
          #{leagueName},
         #{json},


        #{buy_s_p},
         #{buy_s_f},
         #{buy_p_f},
         #{buy_s_p_amount},
         #{buy_s_f_amount},
         #{buy_p_f_amount},

         #{sale_s_p},
         #{sale_s_f},
         #{sale_p_f},
         #{sale_s_p_amount},
         #{sale_s_f_amount},
         #{sale_p_f_amount},
         #{dufa}


        );

    </insert>



    <select id="selectWaveList"  parameterType = "com.neo.discovery.vo.Wave" resultType="com.neo.discovery.vo.Wave">

        select * from wave where  1=1
        <if test="matchId != null ">
            and matchId =#{matchId}
        </if>

        <if test="beginTime != null ">
            and createTime >#{beginTime}
        </if>
        <if test="endTime != null ">
            and  #{endTime} >createTime
        </if>

        limit 10000

    </select>
    <select id="selectGroupByMatchId"  parameterType = "com.neo.discovery.vo.Wave" resultType="com.neo.discovery.vo.Wave">


        select  matchid,home,away  from wave where matchid is not null  and home is not null  group by matchid,home,away

    </select>
    <select id="selectFirstRecord"  parameterType = "com.neo.discovery.vo.Wave" resultType="com.neo.discovery.vo.Wave">


        select  id   from wave  order  by  id desc  limit 1

    </select>
    <update id="updateWaveByMatchId"  parameterType = "com.neo.discovery.vo.Wave"  >


        update wave   set

       buy_s_p  =     #{buy_s_p},
       buy_s_f  =   #{buy_s_f},
       buy_p_f  = #{buy_p_f},
       buy_s_p_amount  =  #{buy_s_p_amount},
       buy_s_f_amount  = #{buy_s_f_amount},
       buy_p_f_amount  = #{buy_p_f_amount},

       sale_s_p  =  #{sale_s_p},
       sale_s_f  =   #{sale_s_f},
       sale_p_f  = #{sale_p_f},
       sale_s_p_amount  =  #{sale_s_p_amount},
       sale_s_f_amount  = #{sale_s_f_amount},
       sale_p_f_amount  =   #{sale_p_f_amount}

         where  id = #{id}

    </update>

    <!--  计算 每 3分钟 的 平均值   select date_format(FLOOR(createTime/300)*300, '%H:%i') AA,avg(buy_s1) ,avg(sale_s1) ,avg(buy_P1)  ,avg(sale_p1),avg(buy_F1)   ,avg(sale_f1) from wave   where  1=1   and  ( createTime BETWEEN  DATE_SUB(now(),INTERVAL 1 hour) AND NOW())

group  by  date_format(FLOOR(createTime/300)*300, '%H:%i')  -->


    <select id="selectAvgByGroupTime"  parameterType = "com.neo.discovery.vo.TongJiDto" resultType="com.neo.discovery.vo.TongJiDto">


select date_format(FLOOR(createTime/300)*300, '%Y-%m-%d %H:%i') timeZone,avg(buy_s1) buy_s1_avg ,avg(sale_s1) sale_s1_avg,avg(buy_P1)  buy_p1_avg,avg(sale_p1)  sale_p1_avg  ,avg(buy_F1)  buy_f1_avg ,avg(sale_f1) sale_f1_avg from wave
where  1=1   and  ( createTime BETWEEN  DATE_SUB(now(),INTERVAL 1 hour) AND NOW())            group  by  date_format(FLOOR(createTime/300)*300, '%Y-%m-%d %H:%i')


    </select>



</mapper>